# Logs
logs
*.log
npm-debug.log*

# Dependency directories
node_modules/

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache

# Nuxt generate
/dist

# IDE
.idea
.DS_Store

# VSCode workspace
*.code-workspace
.vscode/